In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.getOrCreate()

In [4]:
spark

In [7]:
df = spark.read.csv("Cclass/unclean cclass.csv", header = True)

In [8]:
df.show()

+--------+----+--------+------------+-------+---------+-----------+--------+----------+------------+------------+
|   model|year|   price|transmission|mileage|fuel type|engine size|mileage2|fuel type2|engine size2|   reference|
+--------+----+--------+------------+-------+---------+-----------+--------+----------+------------+------------+
| C Class|2020| £30,495|   Automatic|   null|   Diesel|          2|   1,200|      null|        null|/ad/25017331|
| C Class|2020| £29,989|   Automatic|   null|   Petrol|        1.5|   1,000|      null|        null|/ad/25043746|
| C Class|2020| £37,899|   Automatic|   null|   Diesel|          2|     500|      null|        null|/ad/25142894|
| C Class|2019| £30,399|   Automatic|   null|   Diesel|          2|   5,000|      null|        null|/ad/24942816|
| C Class|2019| £29,899|   Automatic|   null|   Diesel|          2|   4,500|      null|        null|/ad/24913660|
| C Class|2020| £30,999|   Automatic|   null|   Diesel|          2|   1,000|      null|        null|/ad/25059312|
| C Class|2020| £35,999|   Automatic|   null|   Diesel|          2|     500|      null|        null|/ad/25418851|
| C Class|2019| £37,990|   Automatic|   null|   Petrol|          3|   1,412|      null|        null|/ad/25449314|
| C Class|2019| £28,990|   Automatic|   null|   Diesel|          2|   3,569|      null|        null|/ad/25046820|
| C Class|2019| £28,990|   Automatic|   null|   Diesel|          2|   3,635|      null|        null|/ad/25046821|
| C Class|2013|  £9,995|   Automatic| 44,900|       29|       £160|    46.3|    Petrol|         1.6|/ad/25128085|
| C Class|2012|  £6,995|   Automatic| 88,200|       34|       £125|    58.9|    Diesel|         2.1|/ad/23763610|
| C Class|2012|  £7,495|   Automatic|115,000|       37|       £145|    54.3|    Diesel|         2.1|/ad/24626603|
| C Class|2011|  £8,995|   Automatic| 69,250|       29|       £150|    53.3|    Diesel|         2.1|/ad/25462537|
| C Class|2015| £14,995|   Automatic| 49,850|       31|        £30|    62.8|    Diesel|         2.1|/ad/25479169|
| C Class|2013|  £8,595|   Automatic| 82,685|       32|        £30|    64.2|    Diesel|        2143|/ad/25450549|
| C Class|2016| £19,250|   Semi-Auto| 32,506|       38|       £125|    60.1|    Diesel|         2.1|/ad/25405174|
| C Class|2017| £23,500|   Semi-Auto| 17,000|       33|       £145|    67.3|    Diesel|         2.1|/ad/25344580|
| C Class|2018| £24,995|   Semi-Auto| 17,744|      n/a|       £150|    64.2|    Diesel|           2|/ad/25481454|
| C Class|2016| £29,995|   Semi-Auto| 64,291|      n/a|       £305|    34.5|    Petrol|           4|/ad/25479287|
+--------+----+--------+------------+-------+---------+-----------+--------+----------+------------+------------+
only showing top 20 rows

In [9]:
df.drop("model", axis = 1)

TypeError: drop() got an unexpected keyword argument 'axis'